<h1>New Entry</h1>

<%= render 'form', entry: @entry %>

<%= link_to 'Back', entries_path %>



<style>

body{
  background-color: green;
  color: yellow;

}
a{
  text-decoration: none;
  color: yellow;
  background-color: green;
}
</style>
